* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #0B2434;
    padding: 20px;
    font-family: 'Karla';
    
}

main {
    background-color: #F5F5F5;
    min-height: 400px;
    max-width: 800px;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.dice-container {
    margin-top: 20px;
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    gap: 75px;
}

.die-face {
    height: 50px;
    width: 50px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: white;
}

.die-num {
    font-size: 2rem;
}

.instructions{
    text-align: center;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto
}

.roll-button{
    margin-top: 40px;
    border-radius: 5px;
    font-size: 20px;
    height: 40px;
    width: 100px;
    border: none;
    background-color: #5035FF;
    color: white;
    cursor: pointer
}

.reset-button{
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 20px;
    height: 40px;
    width: 150px;
    border: none;
    background-color: #5035FF;
    color: white;
    cursor: pointer
}

.reset-button:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.dice-quantity{
    margin-top: 5px;
    margin-bottom: 10px;
    width: 50px
}

@media only screen and (max-width: 600px) {
    .dice-container {
        display: grid;
        grid-template: auto auto / repeat(3, 1fr);
        gap: 75px;
    }
}